.header {
    &__navbar {
        padding: $navbar-padding-y * 1.25 $navbar-padding-x;
    }

    &__menu-link {
        color: $default-color;
        background-color: transparent;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        font-weight: $font-weight-bold;
        margin-left: $grid-gutter-width * .25;
        margin-right: $grid-gutter-width * .25;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &--dropdown-item {
            margin-left: 0;
            margin-right: 0;
        }

        @include hover-focus() {
            color: $red;
        }

        &--dropdown-item {
            font-weight: $font-weight-normal;
            font-size: $font-size-base * .9;
            background-color: $gray-100;
            color: $gray-600;
        }
    }

    &__menu-link--call-us {
        @include button-variant($red, $red);
        padding: $btn-padding-y $btn-padding-x;
        color: $white !important;
    }
}

@include media-breakpoint-down(sm) {
    .site-mob-navbar {
        padding: 0px;

        .navbar-header-inner {
            @include make-row(0px);
            background-color: $white;
            width: 100%;
            height: 60px;

            .navbar-toggle-wrapper {
                @include make-col(2, 12);
                background-color: $red;
            }

            .navbar-brand-wrapper {
                @include make-col(10, 12);
            }

            .navbar-toggle-wrapper,
            .navbar-brand-wrapper {
                height: 100%;
            }

            .navbar-toggle-wrapper {
                .sidebar-navbar-toggler {
                    height: 100%;

                    > i {
                        color: $white;
                    }
                }
            }

            .navbar-brand-wrapper {
                .navbar-brand {
                    height: 100%;
                    @include make-row(0px);
                }
            }
        }

        .sidebar-navbar-toggler {
            background-color: transparent;
            @include border-radius(0);
            border-color: transparent;
            background-color: transparent;

            span {
                display: none;
            }
        }
    }

    .sidebar-navbar-collapse  {
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        z-index: 999;
        background-color: $white;
        transition: all 0.3s;
        overflow-y: scroll;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        z-index: 1031;
        margin-left: -250px;

        &.active {
            left: 0;
            margin-left: 0;
        }

        .dismiss-btn {
            color: $red;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background: transparent;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

        .sidebar-header {
            padding: 20px;

            .sidebar-header-title {
                font-weight: 400;
                color: $default-color;
                font-size: $font-size-base * 1.5;
            }
        }

        ul {
            &.components {
                padding: 20px 0;
            }
        }
    }
}

.mobile-header {

    &__menu {

    }

    &__menu-item {

    }

    &__menu-item--category {
        margin-top: 0;
        margin-bottom: 0;
        background-color: $gray-100;
    }

    &__menu-link {
        font-size: $font-size-base;
        display: block;
        color: $default-color;
        padding: 0.2rem 1rem;

        @include hover-focus() {
            background-color: transparent;
            color: $default-color;
        }
    }
}
