.listings-slider {
    &__nav {
        cursor: pointer;
        text-align: center;
        position: absolute;
        top: 50%;
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        border: none;
        outline: none;
        background: $red;
        color: $white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        z-index: 1;

        @include hover-focus() {
            background: $red;
            outline: none;
        }

        &--next {
            right: 0;
        }

        &--prev {
            left: 0;
        }

        &--next--latest {
            right: -$grid-gutter-width * .25;
        }

        &--prev--latest {
            left: -$grid-gutter-width * .25;
        }
    }
}

.listings-slider__item {
    @include make-col(1, 2);
    padding-right: calc($grid-gutter-width / 2);
    padding-left: calc($grid-gutter-width / 2);

    @include media-breakpoint-down(sm) {
        @include make-col(1, 1);
    }

    &__inner {
        -webkit-box-shadow: 0 2px 4px 0 rgba(236, 236, 236, 0.5);
        box-shadow: 0 2px 4px 0 rgba(236, 236, 236, 0.5);
        overflow: hidden;
    }
}

.listings-cards {
    &__row {
        @include make-row($grid-gutter-width);
    }

    &__aside,
    &__content {
        padding-right: calc($grid-gutter-width / 2);
        padding-left: calc($grid-gutter-width / 2);
    }

    &__aside {
        @include make-col(2, 12);
    }

    &__content {
        @include make-col(10, 12);
    }

    &__list-item {
        @include make-col(1, 3);
        padding-right: calc($grid-gutter-width / 2);
        padding-left: calc($grid-gutter-width / 2);
    }
}

.listing-card {
    &__aside {
        overflow: hidden;
    }

    &__image__resource {
        width: 100%;
        -webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
        z-index: 1;

        @include hover-focus() {
            -webkit-transform: scale(1.15);
            -moz-transform: scale(1.15);
            transform: scale(1.15);
        }
    }

    &__content {

    }

    &__header__title {
        font-size: $font-size-base;
        line-height: 1rem;
        max-height: 2rem;
        word-break: break-word;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;

        a {
            text-decoration: none;
            color: $default-color;

            @include hover-focus() {
                color: $default-color;
            }
        }
    }

    &__attribute {
        color: #DC062B;
        text-align: justify;
        font-size: 14px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__address {
        color: #DC062B;
        text-align: justify;
        font-size: 14px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__price {
        /*color: #000;
        text-align: justify;
        font-size: 20px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 700;
        line-height: normal;*/
        font-size: $font-size-base;
        color: $black;
    }

    &__date {
        /*color: #B3B3B3;
        text-align: justify;
        font-size: 12px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 400;
        line-height: normal;*/
        font-size: $font-size-base * .8;
        color: $gray-600;
    }
}
