.page {
    &__inner {
        @include make-row($grid-gutter-width);
    }

    &__col {
        @include make-col(1, 2);
        padding-left: $grid-gutter-width * .5;
        padding-right: $grid-gutter-width * .5;

        @include media-breakpoint-down(sm) {
            @include make-col(1, 1);

            &:first-child {
                margin-bottom: $grid-gutter-width * .5;
            }
        }

        &--full-width {
            @include make-col(1, 1);

            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        margin-bottom: .6rem;
        padding-left: $grid-gutter-width;
        font-weight: normal;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 40%);
        position: relative;
        font-size: $font-size-base * 2;
        line-height: 40px;

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            bottom: 0;
            width: 5px;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 50%), 0 1px 1px rgb(255 255 255 / 30%);
            background: $red;
        }

        @include media-breakpoint-down(sm) {
            font-size: $font-size-base * 1.8;
            padding-left: $grid-gutter-width * .5;

            &:after {
                width: 2px;
            }
        }
    }

    &__content__title {
        font-size: $font-size-base * 1.5;

        i {
            margin-right: $grid-gutter-width * .5;
        }
    }
}

.map {
    &__container {
        margin-top: 3rem;
        @extend .w-100;

        @include media-breakpoint-down(sm) {
            margin-top: 0;
        }
    }
}
